/* Cambiar color del fondo de la página con el selector: body */
body{
    background-color: ivory;
}

/* Diseño del inicio de la página */
header{
    font-size: 30px;
}
/* Diseño del título principal*/
#inicio{ 
    font-size: 75px;
    color: rgb(94, 61, 28);
    font-family:'Georgia';
    text-align:center;
}
/* Diseño de los subtitulos (t2) con atributo class*/
.t2{
    font-size: 40px;
    color: rgb(129, 111, 86);
    font-family:'Georgia';
    text-align:left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
}

/* Diseño de los t3 con atributo class */
.t3{
    font-size: 25px;
    color: rgb(129, 111, 86);
    font-family:'Georgia';
    text-align:left
}

/* Diseño de los párrafos (este se aplica a todos los p de la página)*/
p{
    font-size: 25px;
    color: rgb(41, 41, 40);
    font-family: 'Verdana';
    text-align:center;
    margin-bottom: 80px;
}

/* Diseño del nav*/
.mi-nav-personalizado {
    background-color: rgb(129, 111, 86);
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.mi-nav-personalizado .nav-link {
    font-family: 'Georgia';
    color: #ffffff !important;
    font-weight: normal;
    font-size: 25px;
}
.mi-nav-personalizado .navbar-brand {
    font-family: 'Georgia';
    color: rgb(255, 216, 249) !important;
    font-weight: norm;
    font-size: 35px;
}
.mi-nav-personalizado .nav-link:hover {
    color: #f7be61 !important;
}


/* Diseño del cuerpo de la página */
.mi-acordeon .accordion-button {
    font-family: 'Georgia';
    font-size: 40px;
    font-style: italic;
    color: rgb(37, 37, 37);
}
.item-pintura .accordion-button {
    background-color: rgb(255, 216, 249) !important;
    color: rgb(155, 105, 147);
}
.item-escultura .accordion-button {
    background-color: rgb(216, 255, 243) !important;
    color:rgb(114, 172, 154)
}
.item-dibujo .accordion-button {
    background-color: rgb(251, 252, 191) !important;
    color: rgb(174, 175, 79);
}
.item-otros .accordion-button {
    background-color: rgb(227, 255, 216) !important;
    color: rgb(141, 187, 123);
}
.accordion-body {
    background-color: ivory; 
    font-size: 25px;
    color: rgb(37, 37, 37);
}


/* Diseño del segundo titulo principal */
#inicio-galeria{
    font-size: 70px;
    color: rgb(94, 61, 28);
    font-family:'Georgia';
    text-align:center;
    margin-bottom: 40px;
}


/* Diseño de las img pintura*/
.img-fija-acordeon {
    width: 400px;
    height: 400px;
    object-fit: cover; /* Evita que la imagen se deforme */
    margin-top: 20px;
    border: solid 7px;
    border-color: rgb(255, 216, 249);
}

/* Diseño de las img escultura*/
.img-fija-acordeon2{
    width: 400px;
    height: 500px;
    object-fit: cover; /* Evita que la imagen se deforme */
    margin-top: 20px;
    border: solid 7px;
    border-color: rgb(216, 255, 243);
}

/* Diseño de las img dibujo*/
.img-fija-acordeon3{
    width: 500px;
    height: 400px;
    object-fit: cover; /* Evita que la imagen se deforme */
    margin-top: 20px;
    border: solid 7px;
    border-color: rgb(251, 252, 191);
}

/* Diseño de las img otros*/
.img-fija-acordeon4{
    width: 330px;
    height: 570px;
    object-fit: cover; /* Evita que la imagen se deforme */
    margin-top: 20px;
    border: solid 7px;
    border-color: rgb(251, 252, 191);
}

/* Diseño tablas*/
.tabla-personalizada {
    max-width: 400px;
    margin-top: 10px;
    font-family: 'verdana';
    border-radius: 8px;
    overflow: hidden;
}

/* Estilo de las celdas */
.tabla-personalizada td, 
.tabla-personalizada th {
    padding: 8px 12px;
    font-size: 30px;
    text-align: left;
}
/* Primera columna (etiquetas) */
.tabla-personalizada td:first-child {
    font-weight: normal;
    color: rgb(129, 111, 86);
}
/* Segunda columna (datos) */
.tabla-personalizada td:last-child {
    color: rgb(41, 41, 40);
}
/* Línea divisoria sutil solo abajo de cada fila */
.tabla-personalizada tr {
    border-bottom: 2px solid #eee;
}
/* Quitar la línea en la última fila */
.tabla-personalizada tr:last-child {
    border-bottom: none;
}


#yo{
    font-size: 70px;
    color: rgb(94, 61, 28);
    font-family:'Georgia';
    text-align:center
}

.img5{
    display: flex;
    flex-wrap: wrap; 
    gap: 1px;       
    justify-content: center;
}

footer p{
    background-color: rgb(227, 204, 252);
}